<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>wasp</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://use.fontawesome.com/61793ed9a5.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="{% static 'all.js' %}"></script>
</head>
<body>
    <header>
        <h1>To Do List:</h1>
    </header>
    

	<div class="table-responsive p-3 rounded">        
	<table id="todo" class="table table-bordered table-hover text-secondary rounded"> 
		<tr>
			<th>--</th>
			<th>Title</th>
			<th>Notes</th>
			<th>Due Date</th>
			<th>Category</th>
			<th>Priority</th>
			<th>Starred</th>
		</tr>
    </table> 
	</div>
    <br> 
</body>
</html>